<p-panel header="Users View" [style]="{'width': '100%', 'margin': '2em'}">
    <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
    <p-table [value]="userList" responsiveLayout="scroll" [rows]="10" *ngIf="!loading">
        <ng-template pTemplate="header">
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.userId}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.type}}</td>
                <td>{{user.country}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>