:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes p-progress-spinner-color {

    100%,
    0% {
        stroke: #d62d20;
    }

    40% {
        stroke: #0057e7;
    }

    66% {
        stroke: #008744;
    }

    80%,
    90% {
        stroke: #ffa700;
    }
}

::ng-deep {
    div.p-panel-header {
        background-color: limegreen !important;
        color: #fff !important;
    }

    .p-datatable .p-datatable-thead>tr>th {
        background-color: coral;
        color: #fff;
    }

    tbody.p-element.p-datatable-tbody {
        border: 1px solid #d4d4d4;
    }
}